@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mona-sans: var(--font-mona-sans);
    --font-glacier: var(--font-glacier);
  }
}

* {
  scroll-behavior: smooth;
}

.font-mona {
  font-family: var(--font-mona-sans);
}

.font-glacier {
  font-family: var(--font-glacier);
}

/* Gradient backgrounds */
.gradient-bg {
  background: linear-gradient(
    135deg,
    rgba(167, 139, 250, 0.1) 0%,
    rgba(167, 139, 250, 0.1) 0.01%,
    rgba(167, 139, 250, 0.1) 100%
  );
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.text-3d {
  text-shadow: 1px 4px 4px #00000050, 4px 4px 5px #00000010; /* Depth */
  /* transform: rotateX(-10deg) rotateY(10deg); */
}
