@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-mona-sans: var(--font-mona-sans);
    --font-glacier: var(--font-glacier);
  }
}

.font-mona {
  font-family: var(--font-mona-sans);
}

.font-glacier {
  font-family: var(--font-glacier);
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Gradient backgrounds */
.gradient-bg {
  background: linear-gradient(
    135deg,
    rgba(167, 139, 250, 0.1) 0%,
    rgba(167, 139, 250, 0.1) 0.01%,
    rgba(167, 139, 250, 0.1) 100%
  );
}

